<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">PixaBay!</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div  class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <!-- <div  class="form-inline my-2 my-lg-0">
        <input class="search form-control mr-sm-2" [(ngModel)]="searchQuery" type="search" placeholder="Search">
        <button (click)="searchImages(searchQuery)" class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </div> -->
    </ul>

  </div>
</nav>

<br>
<!-- <input class="search"  placeholder="Search">
<button (click)="searchImages(searchQuery)" type="button">Find</button> -->

<div align="center">
<div *ngIf="searching">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="!searching">
  <div *ngIf="!imagesFound">
    <h1> No images found </h1>
  </div>
  <div *ngIf="imagesFound">
<div *ngFor="let image of images" class="image-container">

  
  <div class='row'>
    <div class=' col-md-4'></div>


    <div class='blur col-md-4'> 
        <a href="{{image.largeImageURL}}" target="_blank">
      <img class='image' align="center" src="{{ image.webformatURL }}" width='600' height='200' >
      
        <div class="middle">
         <div class="text">Go to image URL</div>
        </div>
      </a>
      <div class="badge badge-info">{{ image.tags }}</div> by <i>{{ image.user }}</i>   
     
    </div>




    <div class='col-md-4'></div>
  </div>
  <br>
</div>
</div>
</div>
</div>
